{% if session['UserType']=="Admin" %} {% extends 'layout-admin.html' %} {% else %} {% extends 'layout.html' %} {% endif %} {% block content %}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Connect to your Website</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Connect to your Website</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-outline card-primary">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <label for="domain_km">Domain</label>
                                    <select type="text" class="custom-select form-control-border" name="domain_km" id="domain_km">
                      <option value=""></option>
                    </select>
                                </div>
                                <div class="col-4">
                                    <label for="Customer_id_km">Customer ID</label>
                                    <select type="text" class="custom-select form-control-border" name="Customer_id_km" id="Customer_id_km">
                          <option value=""></option>
                      </select>
                                </div>

                                <div class="col-2">
                                    <br>
                                    <label for="button"></label>
                                    <input id="save_button" name="button" type="submit" value="GENERATE LINK" class="btn btn-primary toastrDefaultSuccess" onclick="generate()"></input>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card card-outline card-primary">
                        <div class="card-body table-responsive pt-4" style="height: 350px;">
                            <div class="col-12 col-sm-12 col-md-12 d-flex align-items-stretch flex-column" id="linkarea" style="display: none !important">
                                <div class="card bg-light d-flex flex-fill">
                                    <div class="card-footer text-muted border-bottom-0">
                                        Your chatbot link - Copy the below link and paste it in your website page(s).
                                    </div>
                                    <div class="card-body pt-3">
                                        <div class="row">
                                            <div class="col-12 text-center" id="copier">
                                                <h2 class="lead" style="font-weight: bold;" id="link">
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="text-right">
                                            <a onclick="copy()" class="btn btn-sm btn-primary">
                                                <i class="fas fa-copy"></i> Copy Link
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    $.ajaxSetup({
        headers: {
            "X-CSRFToken": '{{csrf_token}}'
        }
    });

    $(function() {
        var Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
        });
    });

    $('#form').unbind().submit(function(e) {
        e.preventDefault();

        var data = {};
        var Form = this;

        $.each(this.elements, function(i, v) {
            var input = $(v);
            data[input.attr("name")] = input.val();
        });

        $.ajax({
            type: 'POST',
            url: '/table',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function(data) {
                $("#results").html(data);
                $(".select2").remove();
            },
            error: function() {
                $(this).html("error!");
            }
        });
    });
    $("#full_table_km").hide();
    $.ajax({
        type: 'POST',
        url: '/get_domain',
        contentType: 'application/json',
        data: {},
        success: function(data) {
            data = $.parseJSON(data);
            $("#domain_km").find('option').remove();
            $("#domain_km").append('<option value="--Select Domain--">--Select Domain--</option>');
            $.each(data, function(index, value) {
                $("#domain_km").append('<option value="' + value + '">' + value + '</option>');
            });
            $.ajax({
                type: 'POST',
                url: '/get_Customer_id',
                contentType: 'application/json',
                data: {},
                success: function(data) {
                    data = $.parseJSON(data);
                    $("#Customer_id_km").find('option').remove();
                    $("#Customer_id_km").append('<option value="--Select Customer ID--">--Select Customer ID--</option>');
                    $.each(data, function(index, value) {
                        $("#Customer_id_km").append('<option value="' + value + '">' + value + '</option>');
                    });

                },
                error: function() {
                    $(this).html("error!");
                }
            });
        },
        error: function() {
            $(this).html("error!");
        }
    });
</script>


<script>
    function generate() {

        var data = new FormData();
        data.append('domain_input', $("#domain_km").val());
        data.append('cust_id_input', $("#Customer_id_km").val());

        $.ajax({
            type: 'POST',
            enctype: 'multipart/form-data',
            url: '/generate_link',
            processData: false,
            cache: false,
            timeout: 800000,
            contentType: false,
            data: data,
            success: function(data) {
                var data = $.parseJSON(data);
                if (Object.keys(data).length > 0) {
                    $("#linkarea").show(300);
                    $("#link").text(data);
                }
            }

        });

    }

    function copy() {
        var range = document.createRange();
        range.selectNode(document.getElementById("link"));
        window.getSelection().removeAllRanges(); // clear current selection
        window.getSelection().addRange(range); // to select text
        document.execCommand("copy");
        window.getSelection().removeAllRanges(); // to deselect
        toastr.success('Copied !!!');
    }
</script>

</body>

</html>
{% endblock %}