{% extends 'layout-admin.html' %} {% block content %}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Keyword Management</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Keyword Management</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9">
                    <div class="card card-outline card-primary">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3">
                                    <label for="domain_km">Domain</label>
                                    <select type="text" class="custom-select form-control-border" name="domain_km" id="domain_km" onchange="language()">
                      <option value=""></option>
                    </select>
                                </div>
                                <div class="col-3">
                                    <label for="Customer_id_km">Customer ID</label>
                                    <select type="text" class="custom-select form-control-border" name="Customer_id_km" id="Customer_id_km" onchange="language()">
                          <option value=""></option>
                      </select>
                                </div>
                                <div class="col-3">
                                    <label for="language_km">Language</label>
                                    <select type="text" class="custom-select form-control-border" name="language_km" id="language_km">
                      <option value=""></option>
                      
                      </select>
                                </div>
                                <div class="card-body">
                                    <label for="button"></label>
                                    <input name="button" type="submit" value="Submit" class="btn btn-primary toastrDefaultSuccess" onclick="myFunction()"></input>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <label for="intent_km">Intent</label>
                                    <select type="text" class="custom-select form-control-border" name="intent_km" id="intent_km">
                      <option value=""></option>
                      </select>
                                </div>
                                <div class="card-body">
                                    <label for="button"></label>
                                    <input id="save_button" name="button" type="submit" value="Submit" class="btn btn-primary toastrDefaultSuccess" onclick="save_button()"></input>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card card-outline card-primary">
                        <div class="card-body table-responsive p-0" style="height: 450px;">
                            <table id="full_table_km" class="table table-head-fixed text-nowrap">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Keyword(s)</th>
                                    </tr>

                                </thead>
                                <tbody id="keyword-management-table">
                                    <tr>
                                        <td colspan="7" style="text-align: center;">No Records Found.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    $.ajaxSetup({
        headers: {
            "X-CSRFToken": '{{csrf_token}}'
        }
    });

    $('#form').unbind().submit(function(e) {
        e.preventDefault();

        var data = {};
        var Form = this;

        $.each(this.elements, function(i, v) {
            var input = $(v);
            data[input.attr("name")] = input.val();
        });

        $.ajax({
            type: 'POST',
            url: '/table',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function(data) {
                $("#results").html(data);
                $(".select2").remove();

            },
            error: function() {
                $(this).html("error!");
            }
        });
    });
    $("#full_table_km").hide();
    $("#processing").show();
    $.ajax({
        type: 'POST',
        url: '/get_domain',
        contentType: 'application/json',
        data: {},
        success: function(data) {
            data = $.parseJSON(data);
            $("#domain_km").find('option').remove();
            $("#domain_km").append('<option value="--Select Domain--">--Select Domain--</option>');
            $.each(data, function(index, value) {
                $("#domain_km").append('<option value="' + value + '">' + value + '</option>');
            });
            $.ajax({
                type: 'POST',
                url: '/get_customer_id_user',
                contentType: 'application/json',
                data: {},
                success: function(data) {
                    data = $.parseJSON(data);
                    $("#Customer_id_km").find('option').remove();
                    $("#Customer_id_km").append('<option value="--Select customer ID--">--Select customer ID--</option>');
                    $.each(data, function(index, value) {
                        $("#Customer_id_km").append('<option value="' + value + '">' + value + '</option>');
                    });

                    $("#processing").hide();
                },
                error: function() {
                    $(this).html("error!");
                }
            });
        },
        error: function() {
            $(this).html("error!");
        }
    });
</script>


<script>
    function language() {
        $("#processing").show();
        var data = new FormData();
        data.append('domain_input', $("#domain_km").val());
        data.append('cust_id_input', $("#Customer_id_km").val());
        $.ajax({
            type: 'POST',
            enctype: 'multipart/form-data',
            url: '/get_languages',
            processData: false,
            cache: false,
            timeout: 800000,
            contentType: false,
            data: data,
            success: function(data) {

                data = $.parseJSON(data);
                $("#language_km").find('option').remove();
                $("#language_km").append('<option value="--Select Language--">--Select Language--</option>');
                $.each(data, function(index, value) {
                    $("#language_km").append('<option value="' + value + '">' + value + '</option>');
                });

                $("#processing").hide();
            },
            error: function() {
                $(this).html("error!");
            }

        });

    }
</script>



<script>
    function myFunction() {
        $("#processing").show();

        var data = new FormData();
        data.append('domain_input', $("#domain_km").val());
        data.append('cust_id_input', $("#Customer_id_km").val());
        data.append('language_input', $("#language_km").val());
        $.ajax({
            type: 'POST',
            enctype: 'multipart/form-data',
            url: '/get_intent_json',
            processData: false,
            cache: false,
            timeout: 800000,
            contentType: false,
            data: data,
            success: function(data) {

                data = $.parseJSON(data);
                $("#intent_km").find('option').remove();
                $("#intent_km").append('<option value="--Select Intent--">--Select Intent--</option>');
                $.each(data, function(index, value) {
                    $("#intent_km").append('<option value="' + value + '">' + value + '</option>');
                });

                $("#processing").hide();
            },
            error: function() {
                $(this).html("error!");
            }

        });

    }
</script>

<script>
    function save_button() {
        if (($("#language_km").val() == "--select Language--") || ($("#domain_km").val() == "--Select Domain--") || ($("#Customer_id_km").val() == "--Select Customer ID--") || ($("#intent_km").val() == "--Select Intent--")) {

            $("#keyword-management-table").empty();
            var row = $("<tr/>");
            row.append($('<td colspan="7" style="text-align:center" />').html('No Records Found.'));
            $("#keyword-management-table").append(row);
            }
        else {
            $("#full_table_km").show();

            $("#processing").show();
            var data = new FormData();
            data.append('domain_input', $("#domain_km").val());
            data.append('cust_id_input', $("#Customer_id_km").val());
            data.append('intent_input', $("#intent_km").val());
            data.append('language_input', $("#language_km").val());
            $.ajax({
                type: 'POST',
                enctype: 'multipart/form-data',
                url: '/get_keyword_management_intent',
                processData: false,
                cache: false,
                timeout: 800000,
                contentType: false,
                data: data,
                success: function(data) {
                    $('#keyword-management-table').empty()
                    var data = $.parseJSON(data);
                    if (Object.keys(data).length > 0) {
                        for (var i = 0; i < Object.keys(data).length; i++) {

                            var row = $("<tr/>");
                            row.append($('<td/>').html(i + 1));
                            row.append($('<td/>').html(data[i]));
                            $('#keyword-management-table').append(row)

                        }

                        $("#processing").hide();
                    } else {
                        $("#processing").hide();
                    }

                }

            });
            }
        }
</script>


</body>

</html>
{% endblock %}