{% extends 'layout-admin.html' %} {% block content %}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Response Management</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Response Management</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9">
                    <div class="card card-outline card-primary">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3">
                                    <label for="domain_rm">Domain</label>
                                    <select type="text" class="custom-select form-control-border" name="domain_rm" id="domain_rm" onchange="language()">
                      <option value=""></option>
                    </select>
                                </div>
                                <div class="col-3">
                                    <label for="Customer_id_rm">Customer ID</label>
                                    <select type="text" class="custom-select form-control-border" name="Customer_id_rm" id="Customer_id_rm" onchange="language()">
                          <option value=""></option>
                      </select>
                                </div>
                                <div class="col-3">
                                    <label for="language_rm">Language</label>
                                    <select type="text" class="custom-select form-control-border" name="language_rm" id="language_rm">
                          <option value=""></option>
                          
                      </select>
                                </div>
                                <div class="card-body">
                                    <label for="button"></label>
                                    <input name="button" type="submit" value="Submit" class="btn btn-primary toastrDefaultSuccess" onclick="myFunction()"></input>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card card-outline card-primary">
                        <div class="card-body table-responsive p-0" style="height: 400px;">
                            <table id="full_table" class="table table-head-fixed text-nowrap">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Intent</th>
                                        <th>Response</th>
                                        <th>Bullets</th>
                                        <th>Visit Page</th>
                                    </tr>
                                </thead>
                                <tbody id="response-management-table">
                                    <td colspan="6" style="text-align: center;">No Records Found.</td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    $.ajaxSetup({
        headers: {
            "X-CSRFToken": '{{csrf_token}}'
        }
    });

    $('#form').unbind().submit(function(e) {
        e.preventDefault();

        var data = {};
        var Form = this;

        $.each(this.elements, function(i, v) {
            var input = $(v);
            data[input.attr("name")] = input.val();
        });

        $.ajax({
            type: 'POST',
            url: '/table',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function(data) {
                $("#results").html(data);
                $(".select2").remove();

            },
            error: function() {
                $(this).html("error!");
            }
        });
    });
    $("#full_table").hide();
    $("#processing").show();
    $.ajax({
        type: 'POST',
        url: '/get_domain',
        contentType: 'application/json',
        data: {},
        success: function(data) {
            data = $.parseJSON(data);
            $("#domain_rm").find('option').remove();
            $("#domain_rm").append('<option value="--Select Domain--">--Select Domain--</option>');
            $.each(data, function(index, value) {
                $("#domain_rm").append('<option value="' + value + '">' + value + '</option>');
            });
            $.ajax({
                type: 'POST',
                url: '/get_customer_id_user',
                contentType: 'application/json',
                data: {},
                success: function(data) {
                    data = $.parseJSON(data);
                    $("#Customer_id_rm").find('option').remove();
                    $("#Customer_id_rm").append('<option value="--Select Customer ID--">--Select Customer ID--</option>');
                    $.each(data, function(index, value) {
                        $("#Customer_id_rm").append('<option value="' + value + '">' + value + '</option>');
                    });
                    $("#processing").hide();
                },
                error: function() {
                    $(this).html("error!");
                }
            });
        },
        error: function() {
            $(this).html("error!");
        }
    });
</script>

<script>
    function language() {
        $("#processing").show();
        var data = new FormData();
        data.append('domain_input', $("#domain_rm").val());
        data.append('cust_id_input', $("#Customer_id_rm").val());
        $.ajax({
            type: 'POST',
            enctype: 'multipart/form-data',
            url: '/get_languages',
            processData: false,
            cache: false,
            timeout: 800000,
            contentType: false,
            data: data,
            success: function(data) {

                data = $.parseJSON(data);
                $("#language_rm").find('option').remove();
                $("#language_rm").append('<option value="--Select Language--">--Select Language--</option>');
                $.each(data, function(index, value) {
                    $("#language_rm").append('<option value="' + value + '">' + value + '</option>');
                });
                $("#processing").hide();
            },
            error: function() {
                $(this).html("error!");
            }
        });

    }
</script>


<script>
    function myFunction() {
        if (($("#language_rm").val() == "--select Language--") || ($("#domain_rm").val() == "--Select Domain--") || ($("#Customer_id_rm").val() == "--Select Customer ID--")) {

            $("#response-management-table").empty();
            var row = $("<tr/>");
            row.append($('<td colspan="7" style="text-align:center" />').html('No Records Found.'));
            $("#response-management-table").append(row);
            }
        else {
        $("#full_table").show();
        $("#processing").show();
        var data = new FormData();
        data.append('domain_input', $("#domain_rm").val());
        data.append('cust_id_input', $("#Customer_id_rm").val());
        data.append('language_input', $("#language_rm").val());
        $.ajax({
            type: 'POST',
            enctype: 'multipart/form-data',
            url: '/get_response_management_table',
            processData: false,
            cache: false,
            timeout: 800000,
            contentType: false,
            data: data,
            success: function(response) {
                $('#response-management-table').empty()
                var data = $.parseJSON(response);

                if (Object.keys(data).length > 0) {

                    for (var i = 0; i < Object.keys(data).length; i++) {

                        var delete_key = data[i]["intent"]
                        delete_key = delete_key.replace(/'/gi, "|");
                        var row = $("<tr/>");
                        row.append($('<td/>').html(i + 1));
                        row.append($('<td/>').html(data[i]["intent"]));
                        row.append($('<td/>').html(data[i]["response"]));
                        row.append($('<td/>').html(data[i]["bullets"]));
                        row.append($('<td/>').html(data[i]["visit_page"]));
                        $('#response-management-table').append(row)

                    }

                    $("#processing").hide();
                } else {
                    $("#processing").hide();
                }

            }

        });

    }
    }
</script>
</body>

</html>
{% endblock %}