{% extends 'layout.html' %} {% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Manage Customer</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Manage Customer</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- Content Header (Page header) -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-outline card-primary">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-2">
                                    <label for="customer_id">Customer ID</label>
                                    <input class="form-control form-control-border" name="customer_id" id="customer_id" placeholder="Enter Customer ID">
                                </div>
                                <div class="col-2">
                                    <label for="mail_id">Email</label>
                                    <input class="form-control form-control-border" name="mail_id" id="mail_id" placeholder="Enter Mail ID">
                                </div>
                                <div class="col-2">
                                    <label for="contact">Contact</label>
                                    <input class="form-control form-control-border" name="contact" id="contact" placeholder="Enter Contact Number">
                                </div>
                                <div class="col-2">
                                    <label for="create_password">Password</label>
                                    <input type="password" class="form-control form-control-border" name="create_password" id="create_password" placeholder="Create Password">
                                </div>

                                <div class="col-2">
                                    <label for="user_type">User Type</label>
                                    <select type="text" class="custom-select form-control-border" name="user_type" id="user_type">
                                        <option value="none">Select UserType</option>
                                        <option value="SuperAdmin">SuperAdmin</option>
                                        <option value="Admin">Admin</option>
                                        <option value="User">User</option>
                                    </select>
                                    <input class="form-control form-control-border" name="edit_usertype" id="edit_usertype">
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-12">
                                    <br>
                                    <input id="create_button" type="submit" value="CREATE NEW CUSTOMER" class="btn btn-primary" onclick="submitbutton()">
                                    </input>
                                    <input id="update_button" type="submit" value="UPDATE CUSTOMER" class="btn btn-primary" onclick="update()">
                                    <input id="cancel_button" type="submit" value="CANCEL" class="btn btn-secondary" onclick="cancel()">
                                </div>
                            </div>
                            <div>
                                <h6 id="out-message" style="color: red;"></h6>
                            </div>
                        </div>

                    </div>

                </div>

            </div>


            <div class="row">
                <div class="col-12">
                    <div class="card card-outline card-primary">
                        <!-- /.card-header -->
                        <!-- <form action="/View_chatbot" method="POST"> -->
                        <div class="card-body table-responsive p-0" style="height: 400px;">
                            <table class="table table-head-fixed text-nowrap">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Customer_ID</th>
                                        <th>Email</th>
                                        <th>Contact</th>
                                        <th>Usertype</th>
                                        <th>Status</th>
                                        <th>Created_on</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="view_customer_table">

                                    <td colspan="6" style="text-align: center;">No Records Found.</td>

                                </tbody>
                            </table>
                        </div>
                        <!-- </form> -->
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>

        </div>
    </section>
</div>
<script>
    $(document).ready(function() {
        var data = new FormData();
        $('#cancel_button').hide();
        $('#update_button').hide();
        $('#edit_usertype').hide();
        $.ajax({
            type: 'POST',
            enctype: 'multipart/form-data',
            url: '/view_customer_table',
            processData: false,
            cache: false,
            timeout: 800000,
            contentType: false,
            data: data,
            success: function(data) {
                $('#view_customer_table').empty()
                var data = $.parseJSON(data);

                if (Object.keys(data).length > 0) {

                    for (var i = 0; i < Object.keys(data).length; i++) {
                        var edit_key = data[i]['customer_id']
                        var mail = data[i]['email']
                        var contact = data[i]['contact']
                        var usertype = data[i]['usertype']
                        var row = $("<tr/>");
                        row.append($('<td/>').html(i + 1));
                        row.append($('<td/>').html(data[i]["customer_id"]));
                        row.append($('<td/>').html(data[i]["email"]));
                        row.append($('<td/>').html(data[i]["contact"]));
                        row.append($('<td/>').html(data[i]["usertype"]));
                        row.append($('<td/>').html(data[i]["status"]));
                        row.append($('<td/>').html(data[i]["created_on"]));
                        $('#view_customer_table').append(row)
                        try {
                            var btn = $('<button onclick="editfunction(this)"/>').addClass("btn btn-primary btn-sm").text("Edit");

                            row.append($('<td/>').append(btn));
                            $("#view_customer_table").append(row);
                        } catch {}


                    }

                } else {
                    var row = $("<tr/>");
                    row.append($('<td colspan=6 style="text-align: center"/>').html("No Records Found."));
                    $('#view_customer_table').append(row)
                }
            }

        });



    });
</script>
<script>
    $(function() {
        var Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
        });
    });
</script>

<!-- '\',\'' + $user + -->

<script>
    function editfunction(el) {

        var currentRow = $(el).closest("tr");

        edit_key = currentRow.find("td:eq(1)").text();
        mail = currentRow.find("td:eq(2)").text();
        contact = currentRow.find("td:eq(3)").text();
        usertype = currentRow.find("td:eq(4)").text();

        $('#create_button').hide();
        $('#user_type').hide();
        $('#edit_usertype').show();
        $('#edit_usertype').val(usertype);
        $('#cancel_button').show(200);
        $('#update_button').show(200);
        $('#mail_id').val(mail)
        $('#customer_id').val(edit_key);
        $('#contact').val(contact);
        $('#customer_id').attr('disabled', true);
        $('#edit_usertype').attr('disabled', true);
        $('#create_password').attr('disabled', true);
    }
</script>

<script>
    function submitbutton() {

        var data = new FormData();
        data.append('domain', $("#name").val());
        data.append('createpassword', $("#create_password").val());
        data.append('new_mail_id', $("#mail_id").val());
        data.append('usertype', $("#user_type").val());
        data.append('cust_id', $("#customer_id").val());
        $("#processing").show();
        $.ajax({
            type: 'POST',
            enctype: 'multipart/form-data',
            url: '/get_customer_id_verification',
            processData: false,
            contentType: false,
            cache: false,
            timeout: 800000,
            data: data,
            success: function(data) {
                if (($("#customer_id").val().length == 0) || ($("#name").val() == "none") || ($("#user_type").val() == "none") || ($("#mail_id").val() == "") || ($("#create_password").val() == "") || ($("#color").val() == "") || ($("#lang").val() == "")) {
                    $("#out-message").text('Fill all the required details.').show(400).delay(4000).hide('slow');
                } else if (data == "true") {
                    $("#out-message").text('Customer ID not available').show(400).delay(4000).hide('slow');

                } else {

                    var data = new FormData();
                    data.append('domain', $("#name").val());
                    data.append('cust_id', $("#customer_id").val());
                    data.append('new_mail_id', $("#mail_id").val());
                    data.append('usertype', $("#user_type").val());
                    data.append('theme_color', $("#color").val());
                    data.append('contact', $("#contact").val());
                    data.append('createpassword', $("#create_password").val());
                    $.ajax({
                        type: 'POST',
                        enctype: 'multipart/form-data',
                        url: '/create_customer',
                        processData: false,
                        cache: false,
                        timeout: 800000,
                        contentType: false,
                        data: data,
                        success: function(data) {
                            toastr.success('Created Successfully')
                            $('#customer_id').val('');
                            $('#language').val('');
                            $('#color').val('');
                            $('#create_password').val('');
                            $('#language').val('');
                            $('#mail_id').val('');
                            $(document).ready(function() {
                                var data = new FormData();

                                $.ajax({
                                    type: 'POST',
                                    enctype: 'multipart/form-data',
                                    url: '/view_customer_table',
                                    processData: false,
                                    cache: false,
                                    timeout: 800000,
                                    contentType: false,
                                    data: data,
                                    success: function(data) {

                                        $('#view_customer_table').empty()
                                        var data = $.parseJSON(data);

                                        if (Object.keys(data).length > 0) {

                                            for (var i = 0; i < Object.keys(data).length; i++) {
                                                var row = $("<tr/>");
                                                var edit_key = data[i]['customer_id']

                                                row.append($('<td/>').html(i + 1));
                                                row.append($('<td/>').html(data[i]["customer_id"]));
                                                row.append($('<td/>').html(data[i]["email"]));
                                                row.append($('<td/>').html(data[i]["contact"]));
                                                row.append($('<td/>').html(data[i]["usertype"]));
                                                row.append($('<td/>').html(data[i]["status"]));
                                                row.append($('<td/>').html(data[i]["created_on"]));
                                                $('#view_customer_table').append(row)
                                                try {
                                                    var btn = $('<button onclick="editfunction(\'' + edit_key + '\')"/>').addClass("btn btn-primary btn-sm").text("Edit");

                                                    row.append($('<td/>').append(btn));
                                                    $("#view_customer_table").append(row);
                                                } catch {}


                                            }

                                        } else {
                                            var row = $("<tr/>");
                                            row.append($('<td colspan=6 style="text-align: center"/>').html("No Records Found."));
                                            $('#view_customer_table').append(row)
                                        }
                                        $("#processing").hide();
                                    }

                                });



                            });

                        },
                        error: function(err) {
                            debugger;
                            $(this).html("error!");
                            $("#processing").hide();
                        }
                    });


                }
            },
            error: function(err) {
                debugger;
                $(this).html("error!");
                $("#processing").hide();
            }
        });


    }
</script>


<script>
    function update() {
        var data = new FormData();
        data.append('contact', $("#contact").val());
        data.append('cust_id', $("#customer_id").val());
        data.append('mail_id', $("#mail_id").val());
        data.append('contact', $("#contact").val());
        $("#processing").show();
        $.ajax({
            type: 'POST',
            enctype: 'multipart/form-data',
            url: '/edit_manage_customer',
            processData: false,
            cache: false,
            timeout: 800000,
            contentType: false,
            data: data,
            success: function(data) {
                cancel()
                $('#contact').val('')
                $("#processing").hide();

            }
        });
    }
</script>


<script>
    function cancel() {
        $(document).ready(function() {
            var data = new FormData();
            $('#cancel_button').hide(200);
            $('#update_button').hide(200);
            $('#create_button').show(200);
            $.ajax({
                type: 'POST',
                enctype: 'multipart/form-data',
                url: '/view_customer_table',
                processData: false,
                cache: false,
                timeout: 800000,
                contentType: false,
                data: data,
                success: function(data) {
                    $('#customer_id').val('');
                    $('#language').val('');
                    $('#color').val('');
                    $('#create_password').val('');
                    $('#language').val('');
                    $('#mail_id').val('');
                    $('#contact').val('');
                    $('#customer_id').attr('disabled', false);
                    $('#create_password').attr('disabled', false);
                    $('#edit_usertype').attr('disabled', false);
                    $('#edit_usertype').hide();
                    $('#user_type').show();
                    $('#view_customer_table').empty()
                    var data = $.parseJSON(data);

                    if (Object.keys(data).length > 0) {

                        for (var i = 0; i < Object.keys(data).length; i++) {
                            var edit_key = data[i]['customer_id']
                            var mail = data[i]['email']
                            var contact = data[i]['contact']
                            var usertype = data[i]['usertype']
                            var row = $("<tr/>");
                            row.append($('<td/>').html(i + 1));
                            row.append($('<td/>').html(data[i]["customer_id"]));
                            row.append($('<td/>').html(data[i]["email"]));
                            row.append($('<td/>').html(data[i]["contact"]));
                            row.append($('<td/>').html(data[i]["usertype"]));
                            row.append($('<td/>').html(data[i]["status"]));
                            row.append($('<td/>').html(data[i]["created_on"]));
                            $('#view_customer_table').append(row)
                            try {
                                var btn = $('<button onclick="editfunction(\'' + edit_key + '\',\'' + mail + '\',\'' + contact + '\',\'' + usertype + '\')"/>').addClass("btn btn-primary btn-sm").text("Edit");
                                row.append($('<td/>').append(btn));
                                $("#view_customer_table").append(row);
                            } catch {}


                        }

                    } else {
                        var row = $("<tr/>");
                        row.append($('<td colspan=6 style="text-align: center"/>').html("No Records Found."));
                        $('#view_customer_table').append(row)
                    }
                }

            });



        });
    }
</script>
{% endblock %}